<app-header></app-header>

<div class="container-fluid">
    <div class="page_heading">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="page_name">
                    <img src="assets/images/enquiry.png" alt="" loading="lazy">
                    <h1 class="page_top_heading mb-0">enquiry info</h1>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <!-- <div class="page_search">
                    <input type="text" class="search_form">
                    <button type="button" class="search_btn">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div> -->
            </div>
        </div>
    </div>

    <div class="main_body sec_gapping">
        <div class="text-start mb-4" [hidden]="!isEdit">
            <button class="new_btn " (click)="newForm()" style="font-size: 0 !important;display: flex;"><span
                    class="material-symbols-outlined" style="font-size: 18px;">arrow_back_ios</span></button>
        </div>
        <div class="info_div">
            <div class="page_info_heading">
                enquiries
            </div>
            <div class="my_form ">
                <div class="row g-2">

                    <div class="col-sm-3 col-md-2">
                        <div class="form_select_div ">
                            <label>enquiry no.</label>
                            <input [(ngModel)]="enquiryNumber" *ngIf="!isEdit" type="text" class="form-control" disabled>
                            <input *ngIf="isEdit" type="text" class="form-control"
                                [value]="'E000' + (enquiryId) + '/24-25'" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <label>SBU</label>
                        <div class="form_select_div">
                            <select class="form-control" [(ngModel)]="sbuId" (change)="getMentorSalesList()">
                                <option *ngIf="sbuId==0" value="" disabled>-- choose SBU --</option>
                                <option *ngFor="let item of SBUList" [value]="item.sbu_id">{{ item.sbu_name }}
                                </option>
                            </select>
                            <span class="material-symbols-outlined">
                                stat_minus_1
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>sales incharge</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="salesPersonId"
                                    (change)="getCustomerListBySalesperson();">
                                    <option value='' disabled>--choose sales-incharge--</option>
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <div class="">
                            <label>SI offer Ref. No. </label>
                            <div class="form_select_div">
                                <input type="text" class="form-control" [(ngModel)]="reffNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form_select_div">
                            <label>mentor</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="mentorId">
                                    <option value='' disabled>--choose mentor--</option>
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>customer</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="customerId">
                                    <option value="" disabled>--choose customer--</option>
                                    <option *ngFor="let item of customerBySalespersonList" [value]="item.customer_id">{{
                                        item.customer }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="form_select_div ">
                            <label>enquiry date</label>
                            <input type="date" class="form-control" [(ngModel)]="enquiryDate">
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>source of enquiry</label>
                            <div class="form_select_div">
                                <textarea type="text" class="form-control" [(ngModel)]="enquirySource"
                                    rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>type of enquiry</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="enquiryTypeId">
                                    <option value="" disabled>--choose enquiry type--</option>
                                    <option *ngFor="let item of enquiryTypeList" [value]="item.enquiry_type_id">{{
                                        item.enquiry_type_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <div class="">
                            <label>enquiry sub type</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="enquirySubTypeId"
                                    (change)="getPoSubTypeInputsByPOtype(enquirySubTypeId)">
                                    <option value="" disabled>--choose enquiry sub-type--</option>
                                    <option *ngFor="let item of enquirySubTypeList" [value]="item.enquiry_sub_type_id">
                                        {{
                                        item.enquiry_sub_type_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="poSubType_div" *ngIf="isDivShow"
                        [ngStyle]="{'padding.px': 12,'background': '#becdfd','border-radius.px': 6}">

                        <h5
                            [ngStyle]="{'border-bottom.px':1, 'font-weight': 600, 'margin-bottom.px': 16,'font-size.px': 18}">
                            enquiry sub-type details</h5>
                        <div class="col-md-12">
                            <div class="row" *ngIf="supplyRow">
                                <div class="col-md-4">
                                    <label>product <span [hidden]="isOthersChecked" style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control" [(ngModel)]="productProduct"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label>description <span [hidden]="isOthersChecked"
                                            style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control"
                                        [(ngModel)]="productDescription"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label>brand <span [hidden]="isOthersChecked" style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control" [(ngModel)]="productBrand"></textarea>
                                </div>
                            </div>
                            <div class="row" *ngIf="sitcRow">
                                <div class="col-md-4">
                                    <label>description <span [hidden]="isOthersChecked"
                                            style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control" [(ngModel)]="sitcDescription"></textarea>
                                </div>
                            </div>
                            <div class="row g-2" *ngIf="csRow">
                                <div class="col-md-2">
                                    <label>cable assembly</label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csCable"
                                        [disabled]="isOthersChecked"></textarea>

                                </div>
                                <div class="col-md-2">
                                    <label>panel </label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csPanel"
                                        [disabled]="isOthersChecked"></textarea>

                                </div>
                                <div class="col-md-2">
                                    <label>welding receptable </label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csWelding"
                                        [disabled]="isOthersChecked"></textarea>

                                </div>
                                <div class="col-md-2">
                                    <label>HSA BOX </label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csHsaBox"
                                        [disabled]="isOthersChecked"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" [(ngModel)]="isOthersChecked" class="me-1"
                                        (change)="onCheckboxChange($event)">
                                    <label> others <span [hidden]="isOthersDisabled"
                                            style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csOthers"
                                        [disabled]="isOthersDisabled" [required]="isOthersChecked"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="col-sm-4 col-md-3">
                        <div class="form_select_div">
                            <label>principal house</label>
                            <input type="text" class="form-control" [(ngModel)]="principalHouse">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="">
                            <label>date of offer</label>
                            <input type="date" class="form-control" [(ngModel)]="offerDate">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>basic value</label>
                            <input type="text" class="form-control" [(ngModel)]="basicValue"
                                (blur)="decimalBasicValue()">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="">
                            <label>Tentative Date of Finalisation</label>
                            <div class="row">
                                <div class="form_select_div col-md-6">
                                    <select class="form-control me-3" [(ngModel)]="monthFinal">
                                        <option value="" disabled>MM</option>
                                        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                                    </select>
                                    <span class="material-symbols-outlined"
                                        style="top:15% !important;right:26px;transform:none !important; ">
                                        stat_minus_1
                                    </span>
                                </div>
                                <div class="form_select_div col-md-6">
                                    <select class="form-control" [(ngModel)]="yearFinal">
                                        <option value="" disabled>YYYY</option>
                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                    </select>
                                    <span class="material-symbols-outlined"
                                        style="top:15% !important;right:26px;transform:none !important; ">
                                        stat_minus_1
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-sm-6 col-md-4">
                        <div class="">
                            <label>status</label>
                            <textarea type="text" class="form-control" [(ngModel)]="enquiryStatus"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="">
                            <label>remarks</label>
                            <textarea type="text" class="form-control" [(ngModel)]="enquiryRemarks"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="">
                            <label>support required</label>
                            <textarea type="text" class="form-control" [(ngModel)]="enquirySupport"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button mat-flat-button class="btn1" (click)="createEnquiry()">submit</button>
        </div>
    </div>


    <div class="listing_div">
        <div class="row align-items-end">
            <div class="col-md-4">
                <strong style="text-transform: capitalize;">filter by</strong>
                <div class="form_select_div mt-3">
                    <select class="form-control" [(ngModel)]="filterByKeyword" (change)="getFilterEnquiryByCategory()">
                        <option value="" disabled>-- choose category --</option>
                        <option value="salesperson">sales incharge</option>
                        <option value="reff_number">reffered number</option>
                        <option value="enquiry_date">enquiry date</option>
                        <option value="enquiry_source">enquiry source</option>
                        <option value="enquiry_type">enquiry type</option>
                        <option value="principal_house">principal house</option>
                        <option value="basic_value">basic value</option>
                        <option value="tentative_finalization_month">tentative month </option>
                        <option value="tentative_finalization_year">tentative year</option>
                    </select>
                    <span class="material-symbols-outlined">
                        stat_minus_1
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <strong style="text-transform: capitalize;">select one</strong>
                <div class="form_select_div mt-3">
                    <select class="form-control" [(ngModel)]="enquiriesByFilter" (change)="getEnquiriesByFilter()">
                        <option value="" disabled>-- choose one --</option>
                        <option *ngFor="let item of filteredEnquiryListByCategory" [value]="item.name">{{item.name ?
                            item.name : '-na-'}}</option>
                    </select>
                    <span class="material-symbols-outlined">
                        stat_minus_1
                    </span>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <div class="page_search mb-4">
                    <input type="text" class="search_form" [(ngModel)]="searchCriteria" (keyup)="getEnquiryList()">
                    <button type="button" class="search_btn">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-md-1">
                <h3 class="text-end" style="font-size: 20px;">total : {{totalCount}}</h3>
            </div>
        </div>
        <div class="table-responsive customer_table">
            <table class="listing_table">
                <tr class="table_head sticky-top">
                    <th>sl no.</th>
                    <th>enquiry no.</th>
                    <th>SI Ref. No.</th>
                    <th>sales incharge</th>
                    <th>customer</th>
                    <th>enquiry date</th>
                    <th>enquiry source</th>
                    <th>enquiry type</th>
                    <th>enquiry sub type</th>
                    <th>principal house</th>
                    <th>offer date</th>
                    <th>basic value</th>
                    <th>tentative month</th>
                    <th>tentative year</th>
                    <th>follow up</th>
                    <th>view</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>

                <tr *ngFor="let item of enquiryList; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>E000{{ item.enquiry_id }}/24-25</td>
                    <td>{{ item.reff_number ? item.reff_number : 'NA' }}</td>
                    <td>{{ item.sales_person_name }}</td>
                    <td>{{ item.customer}}</td>
                    <td>{{ item.enquiry_date }}</td>
                    <td>{{ item.enquiry_source }}</td>
                    <td>{{ item.enquiry_type_name }}</td>
                    <td>{{ item.enquiry_sub_type_name }}</td>
                    <td>{{ item.principal_house }}</td>
                    <td>{{ item.offer_date }}</td>
                    <td>{{ item.basic_value}}</td>
                    <ng-container *ngIf="item.tentative_finalization_month; else notAvailable">
                        <td>{{item.tentative_finalization_month}}</td>
                    </ng-container>
                    <ng-template #notAvailable>
                        <td>NA</td>
                    </ng-template>
                    <ng-container *ngIf="item.tentative_finalization_year; else notAvailable">
                        <td>{{item.tentative_finalization_year}}</td>
                    </ng-container>
                    <ng-template #notAvailable>
                        <td>NA</td>
                    </ng-template>
                    <td>
                        <span class="follow_up" (click)="goToFollowUpPage(item.enquiry_id)">
                            <!-- <span class="material-symbols-outlined" style="color:#1b1b1b;font-size: 18px;">
                                visibility
                            </span> -->
                            follow up
                        </span>
                    </td>
                    <td>
                        <span class="material-symbols-outlined" style="color:#006FFD;"
                            (click)="goToDetailsPage(item.enquiry_id)">
                            visibility
                        </span>
                    </td>
                    <td>
                        <span class="material-symbols-outlined" style="color: #00BF58;"
                            (click)="getEnquiryById(item.enquiry_id)">
                            edit_square
                        </span>
                    </td>
                    <!-- <td *ngIf="sbuId != 0"> -->
                    <td>
                        <span class="material-symbols-outlined" style="color: #A8226A;">
                            delete
                        </span>
                    </td>
                </tr>

            </table>
        </div>
    </div>

</div>