<app-header></app-header>
<div class="container-fluid">
    <div class="page_heading">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="page_name">
                    <img src="assets/images/customer.png" alt="" loading="lazy">
                    <h1 class="page_top_heading mb-0">my profile</h1>
                </div>
            </div>

        </div>
    </div>

    <div class="main_body mt-2 mb-5 ">
        <div class="info_div">
            <div class="page_info_heading">
                personal info
            </div>
            <form class="my_form">
                <div class="row g-2">
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>SBU</label>
                            <p class="form-control">{{ sbuName }}</p>
                            <!-- <input type="text" class="form-control" name="name" [(ngModel)]="sbu_id"  /> -->
                      
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>function</label>
                            <p class="form-control">{{ functionName }}</p>
                            <!-- <input type="text" class="form-control" name="name" [(ngModel)]="functionId" /> -->
                         
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form_select_div ">
                            <label>name</label>
                            <p class="form-control">{{ salesPersonName }}</p>
                            <!-- <input type="text" class="form-control" name="name" [(ngModel)]="salesPersonName" /> -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>designation</label>
                            <p class="form-control">{{ designationName }}</p>
                            <!-- <input type="text" class="form-control" name="name" [(ngModel)]="designationId" /> -->

                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>mobile no.</label>
                            <p class="form-control">{{ mobNum }}</p>
                            <!-- <input type="text" class="form-control" name="mobile_no" maxlength="10" [(ngModel)]="mobNum"
                                (keypress)="restrictPhone($event)"> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <label>date of birth</label>
                            <p class="form-control">{{ DOB }}</p>
                            <!-- <input type="date" class="form-control" name="dob" [(ngModel)]="DOB"> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>email id</label>
                            <p class="form-control text-lowercase">{{ emailId }}</p>
                            <!-- <input type="email" class="form-control text-lowercase" name="email_id"
                                [(ngModel)]="emailId" autocomplete="off"> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" ">
                            <label>password</label>
                            <p class="form-control text-lowercase">{{ passWord }}</p>
                            <!-- <div class="view_div view_dropdown_div">
                                <input class="form-control text-lowercase" value="password"
                                    [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="passWord"
                                    autocomplete="off">
                                <span [ngClass]="hide ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="hide = !hide"></span>

                            </div> -->

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>