<app-header></app-header>

<div class="container-fluid">
    <div class="page_heading">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="page_name">
                    <img src="assets/images/manager.png" alt="" loading="lazy">
                    <h1 class="page_top_heading mb-0">profile info</h1>
                    <!-- <ng-template #salesPersonInfo>
                        <h1 class="page_top_heading mb-0" >sales person info</h1>
                    </ng-template> -->
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="view_div view_dropdown_div ">
                    <select class="form-control">
                        <option>-- choose unit name --</option>
                        <option value=0>Admin</option>
                        <option value=1>Sarthak Components</option>
                        <option value=2>Sarthak Power</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div> -->
            <div class="col-md-3 text-end">
                <div class="page_search">
                    <input type="text" class="search_form">
                    <button type="button" class="search_btn">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="checkDesignationId == 4">
        <div class="sales_edit_view_div">
            <!-- <span class="material-symbols-outlined " style="background:#006FFD; " (click)="goToDetailsPage(item.sales_person_id)">
                visibility
            </span> -->
            <!-- <span class="material-symbols-outlined" style="background: #00BF58;">
                edit_square
            </span> -->
        </div>
    </div>


    <div class="main_body mt-2 mb-5 ">
        <div class="info_div">
            <div class="page_info_heading">
                personal info
            </div>
            <form class="my_form" #salesPersonCreation="ngForm" (ngSubmit)="createSalesPerson(salesPersonCreation)">
                <div class="row g-2">
                    <div class="col-md-2">
                        <div class="form_select_div">
                            <label>SBU</label>
                            <div class="form_select_div">
                                <select class="form-control" name="sbu" [(ngModel)]="sbu_id" (change)="getMentorList()">
                                    <option *ngFor="let item of SBUList" [value]="item.sbu_id">{{ item.sbu_name }}
                                    </option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form_select_div">
                            <label>function</label>
                            <div class="form_select_div">
                                <select class="form-control" name="function" [(ngModel)]="functionId">
                                    <option>-- choose function --</option>
                                    <option *ngFor="let item of functionList" [value]="item.function_id">{{
                                        item.function_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form_select_div ">
                            <label>name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="salesPersonName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>designation</label>
                            <div class="form_select_div">
                                <select class="form-control" name="designation" [(ngModel)]="designationId"
                                    (change)="showMentorList()">
                                    <option>--choose designation--</option>
                                    <option *ngFor="let item of designationList" [value]="item.designation_id">{{
                                        item.designation_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>mentor</label>
                            <div class="form_select_div">
                                <select class="form-control" name="mentor" [(ngModel)]="mentorId">
                                    <option value='' disabled>--choose mentor--</option>
                                    <option *ngFor="let item of mentorList" [ngValue]="item.mentor_id">{{ item.mentor_name
                                        }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                        <!-- <div class="form_select_div" *ngIf="checkDesignationId==4">
                            <label>mentor</label>
                            <div class="form_select_div">
                                <select class="form-control" name="mentor" [(ngModel)]="mentorId">
                                    <option>--choose mentor--</option>
                                    <option *ngFor="let item of mentorList" [value]="item.mentor_id">{{ item.mentor_name
                                        }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div> -->
                    </div>
                    


                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>mobile no.</label>
                            <input type="text" class="form-control" name="mobile_no" maxlength="10" [(ngModel)]="mobNum"
                                (keypress)="restrictPhone($event)">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <label>date of birth</label>
                            <input type="date" class="form-control" name="dob" [(ngModel)]="DOB">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>email id</label>
                            <input type="email" class="form-control text-lowercase" name="email_id"
                                [(ngModel)]="emailId" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" ">
                            <label>password</label>
                            <div class="view_div view_dropdown_div">
                                <input class="form-control text-lowercase" value="password"
                                    [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="passWord"
                                    autocomplete="off">
                                <span [ngClass]="hide ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="hide = !hide"></span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button mat-flat-button type="submit" class="btn1" [disabled]="isDisabled">submit</button>
                </div>
            </form>
        </div>

    </div>



    <div class="listing_div" *ngIf="checkDesignationId != 4">
        <h3 class="text-end" style="font-size: 20px;">total : {{total_count}}</h3>
        <table class="listing_table">
            <tr class="table_head">
                <th>sl no.</th>
                <th>SBU</th>
                <th>function</th>
                <th>name</th>
                <th>designation</th>
                <th>mobile no.</th>
                <th>email id</th>
                <th>DOB</th>
                <th>view</th>
                <th>edit</th>
                <th>delete</th>
            </tr>

            <tr *ngFor="let item of salesPersonList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ item.sbu_name}}</td>
                <td>{{ item.function_name}}</td>
                <td>{{ item.sales_person_name}}</td>
                <td>{{ item.designation_name}}</td>
                <td>{{ item.mobile}}</td>
                <td class="text-lowercase">{{ item.email}}</td>
                <td>{{ item.dob}}</td>
                <td>
                    <span class="material-symbols-outlined" style="color:#006FFD;"
                        (click)="goToDetailsPage(item.sales_person_id)">
                        visibility
                    </span>
                </td>
                <td>
                    <span class="material-symbols-outlined" style="color: #00BF58;"
                        (click)="getSalespersonById(item.sales_person_id)">
                        edit_square
                    </span>
                </td>
                <td>
                    <span class="material-symbols-outlined" style="color: #A8226A;">
                        delete
                    </span>
                </td>
            </tr>

        </table>
    </div>
</div>