<app-header></app-header>

<div class="container-fluid">
    <div class="page_heading">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="page_name">
                    <img src="assets/images/received.png" alt="" loading="lazy">
                    <h1 class="page_top_heading mb-0">order info</h1>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <div class="page_search">
                    <input type="text" class="search_form">
                    <button type="button" class="search_btn">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="main_body sec_gapping">
        <div class=" d-flex mb-4">
            <div style="font-size: 1.2em; padding: 5px">
                <input type="radio" id="radio_2" name="radioBtn" checked (click)="makeIsDirectFalse()">
                <label> Based on Enquiry</label>
            </div>

            <div class="me-2" style="font-size: 1.2em; padding: 5px">
                <input type="radio" id="radio_1" name="radioBtn" (click)="makeIsDirectTrue()">
                <label> Direct Order</label>
            </div>

        </div>

        <div class="form_select_div" style="width: 20%;" *ngIf="!isDirectOrder">
            <select class="form-control" [(ngModel)]="enquiryId" (change)="getEnquiryById(enquiryId)">
                <option value="" disabled>--Select Enquiry Id--</option>
                <option *ngFor="let item of enquiryList" [value]="item.enquiry_id">{{'E000' + item.enquiry_id +
                    '/24-25'}}</option>
            </select>
            <span class="material-symbols-outlined">
                stat_minus_1
            </span>
        </div>

        <div class="info_div" *ngIf="!isDirectOrder">
            <div class="page_info_heading">
                enquiry info
            </div>
            <div class="my_form ">
                <div class="row g-2">
                    <div class="col-sm-3 col-md-2">
                        <div class="form_select_div ">
                            <label>enquiry no.</label>
                            <!-- <input type="text" class="form-control" [ngModel]="enquiryId" disabled> -->
                            <input type="text" class="form-control"
                                [value]="enquiryId ? 'E000' + enquiryId + '/24-25': ''" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <label>SBU</label>
                        <div class="form_select_div">
                            <select class="form-control" [(ngModel)]="sbuId" (change)="getMentorSalesList()" disabled>
                                <option *ngIf="sbuId==0" value="" disabled>-- choose SBU --</option>
                                <option *ngFor="let item of SBUList" [value]="item.sbu_id">{{ item.sbu_name }}
                                </option>
                            </select>
                            <span class="material-symbols-outlined">
                                stat_minus_1
                            </span>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>mentor</label>
                            <div class="form_select_div">
                                <select class="form-control" name="mentor" [(ngModel)]="mentorId">
                                    <option value='' disabled>--choose mentor--</option>
                                    <option *ngFor="let item of mentorList" [ngValue]="item.mentor_id">{{
                                        item.mentor_name
                                        }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>sales incharge</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="salesPersonId"
                                    (change)="getCustomerListBySalesperson();" disabled>
                                    <option value='' disabled>--choose sales-incharge--</option>
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>mentor</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="mentorId">
                                    <option value='' disabled>--choose mentor--</option>
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>customer</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="customerId" disabled>
                                    <option value="" disabled>--choose customer--</option>
                                    <option *ngFor="let item of customerBySalespersonList" [value]="item.customer_id">{{
                                        item.customer }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="form_select_div ">
                            <label>enquiry date</label>
                            <input type="date" class="form-control" [(ngModel)]="enquiryDate" disabled>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4">
                        <div class="">
                            <label>source of enquiry</label>
                            <div class="form_select_div">
                                <input type="text" class="form-control" [(ngModel)]="enquirySource" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <div class="">
                            <label>type of enquiry</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="enquiryTypeId" disabled>
                                    <option value="" disabled>--choose enquiry type--</option>
                                    <option *ngFor="let item of enquiryTypeList" [value]="item.enquiry_type_id">{{
                                        item.enquiry_type_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <div class="">
                            <label>enquiry sub type</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="enquirySubTypeId" disabled>
                                    <option value="" disabled>--choose enquiry sub-type--</option>
                                    <option *ngFor="let item of enquirySubTypeList" [value]="item.enquiry_sub_type_id">
                                        {{
                                        item.enquiry_sub_type_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>


                    <!-- Enquiry sub type details div -->
                    <div class="poSubType_div" *ngIf="isDivShowEnquiry"
                        [ngStyle]="{'padding.px': 12,'background': '#becdfd','border-radius.px': 6}">

                        <h5
                            [ngStyle]="{'border-bottom.px':1, 'font-weight': 600, 'margin-bottom.px': 16,'font-size.px': 18}">
                            Enquiry Sub Type Details</h5>
                        <div class="col-md-12">
                            <div class="row" *ngIf="productRowEnquiry">
                                <div class="col-md-4">
                                    <label>product</label>
                                    <textarea type="text" class="form-control" [(ngModel)]="productProduct" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="productProduct" disabled> -->
                                </div>
                                <div class="col-md-4">
                                    <label>description</label>
                                    <textarea type="text" class="form-control" [(ngModel)]="productDescription" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="productDescription" disabled> -->
                                </div>
                                <div class="col-md-4">
                                    <label>brand</label>
                                    <textarea type="text" class="form-control" [(ngModel)]="productBrand" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="productBrand" disabled> -->
                                </div>
                            </div>
                            <div class="row" *ngIf="sitcRowEnquiry">
                                <div class="col-md-4">
                                    <label>description</label>                                     
                                    <textarea type="text" class="form-control" [(ngModel)]="sitcDescriptionEnquiry" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="sitcDescriptionEnquiry" disabled> -->
                                </div>
                            </div>
                            <div class="row g-2" *ngIf="csRowEnquiry">
                                <div class="col-md-2">
                                    <label>cable assembly</label>                                     
                                    <textarea type="text" class="form-control" [(ngModel)]="csCableEnquiry" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="csCableEnquiry" disabled> -->

                                </div>
                                <div class="col-md-2">
                                    <label>panel</label>                                     
                                    <textarea type="text" class="form-control" [(ngModel)]="csPanelEnquiry" disabled ></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="csPanelEnquiry" disabled> -->

                                </div>
                                <div class="col-md-2">
                                    <label>welding receptable</label>                                     
                                    <textarea type="text" class="form-control" [(ngModel)]="csWeldingEnquiry" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="csWeldingEnquiry" disabled> -->

                                </div>
                                <div class="col-md-2">
                                    <label>HSA BOX</label>                              
                                    <textarea type="text" class="form-control" [(ngModel)]="csHsaBoxEnquiry" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="csHsaBoxEnquiry" disabled> -->
                                </div>
                                <div class="col-md-4">
                                    <!-- <input type="checkbox" [(ngModel)]="isOthersChecked" class="me-1"
                                        (change)="onCheckboxChange($event)"> -->
                                    <label> others</label>                              
                                    <textarea type="text" class="form-control" [(ngModel)]="csOthersEnquiry" disabled></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="csOthersEnquiry" disabled> -->
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="col-sm-4 col-md-3">
                        <div class="form_select_div">
                            <label>principal house</label>
                            <input type="text" class="form-control" [(ngModel)]="principalHouse" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="">
                            <label>date of offer</label>
                            <input type="date" class="form-control" [(ngModel)]="offerDate" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form_select_div">
                            <label>basic value</label>
                            <input type="text" class="form-control" [(ngModel)]="basicValue" disabled>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-md-3">
                            <div class="">
                                <label>Tentative Date of Finalisation</label>
                                <div class="d-flex">
                                    <input type="text" class="form-control me-3" maxlength="2"
                                        (keypress)="restrictPhone($event)" [(ngModel)]="monthFinal" placeholder="MM">
                                    <input type="text" class="form-control" maxlength="4"
                                        (keypress)="restrictPhone($event)" [(ngModel)]="yearFinal" placeholder="YYYY">
                                </div>
                            </div>
                        </div> -->
                    <div class="col-sm-6 col-md-3">
                        <div class="">
                            <label>Tentative Date of Finalisation</label>
                            <div class="row">
                                <div class="form_select_div col-md-6">
                                    <select class="form-control me-3" [(ngModel)]="monthFinal" disabled>
                                        <option value="" disabled>MM</option>
                                        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                                    </select>
                                    <span class="material-symbols-outlined"
                                        style="top:15% !important;right:26px;transform:none !important; ">
                                        stat_minus_1
                                    </span>
                                </div>
                                <div class="form_select_div col-md-6">
                                    <select class="form-control" [(ngModel)]="yearFinal" disabled>
                                        <option value="" disabled>YYYY</option>
                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                    </select>
                                    <span class="material-symbols-outlined"
                                        style="top:15% !important;right:26px;transform:none !important; ">
                                        stat_minus_1
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="">
                            <label>status</label>
                            <textarea type="text" class="form-control" [(ngModel)]="enquiryStatus" disabled></textarea>
                            <!-- <input type="text" class="form-control" [(ngModel)]="enquiryStatus" disabled> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="">
                            <label>remarks</label>
                            <textarea type="text" class="form-control" [(ngModel)]="enquiryRemarks" disabled></textarea>
                            <!-- <input type="text" class="form-control" [(ngModel)]="enquiryRemarks" disabled> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="">
                            <label>support required</label>
                            <textarea type="text" class="form-control" [(ngModel)]="enquirySupport" disabled></textarea>
                            <!-- <input type="text" class="form-control" [(ngModel)]="enquirySupport" disabled> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="text-center mt-3 mb-5">
            <button mat-flat-button class="btn1" (click)="createOrder()">submit</button>
        </div> -->


    


        <div class="info_div mt-5">
            <div class="page_info_heading">
                orders
            </div>
            <div class="my_form ">
                <div class="row g-2">
                    <div class="col-md-2">
                        <div class="form_select_div">
                            <label>sales incharge</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="salesPersonId"
                                    (change)="getCustomerListBySalesperson();"
                                    [disabled]="checkSbuId != 0 || !isDirectOrder">
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label>customer</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="customerId" [disabled]="!isDirectOrder">
                                    <option value="" disabled>--choose customer--</option>
                                    <option *ngFor="let item of customerBySalespersonList" [value]="item.customer_id">
                                        {{ item.customer }}
                                    </option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form_select_div">
                            <label>PO number</label>
                            <input type="text" class="form-control" [(ngModel)]="poNumber">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form_select_div">
                            <label>PO date</label>
                            <input type="date" class="form-control" [(ngModel)]="poDate">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <label>PO type</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="poTypeId"
                                    (change)="getPoSubTypeInputsByPOtype(poTypeId)">
                                    <option value="" disabled>--choose PO type--</option>
                                    <option *ngFor="let item of poTypeList" [value]="item.po_type_id">{{
                                        item.po_type_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="poSubType_div" *ngIf="isDivShow"
                        [ngStyle]="{'padding.px': 12,'background': '#becdfd','border-radius.px': 6}">

                        <h5
                            [ngStyle]="{'border-bottom.px':1, 'font-weight': 600, 'margin-bottom.px': 16,'font-size.px': 18}">
                            PO Type Details</h5>
                        <div class="col-md-12">
                            <div class="row" *ngIf="supplyRow">
                                <div class="col-md-4">
                                    <label>product <span [hidden]="isOthersChecked" style="color: red;">*</span></label>
                                    <textarea  type="text" class="form-control" [(ngModel)]="supplyProduct"></textarea>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="supplyProduct"> -->
                                </div>
                                <div class="col-md-4">
                                    <label>description <span [hidden]="isOthersChecked"
                                            style="color: red;">*</span>
                                    </label>
                                     <textarea type="text" class="form-control" [(ngModel)]="supplyDescription"></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="supplyDescription"> -->
                                </div>
                                <div class="col-md-4">
                                    <label>brand <span [hidden]="isOthersChecked" style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control" [(ngModel)]="supplyBrand"></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="supplyBrand"> -->
                                </div>
                            </div>
                            <div class="row" *ngIf="sitcRow">
                                <div class="col-md-4">
                                    <label>description <span [hidden]="isOthersChecked"
                                            style="color: red;">*</span></label>
                                     <textarea type="text" class="form-control" [(ngModel)]="sitcDescription"></textarea>   
                                    <!-- <input type="text" class="form-control" [(ngModel)]="sitcDescription"> -->
                                </div>
                            </div>

                            <div class="row g-2" *ngIf="csRow">
                                <div class="col-md-2">
                                    <label>cable assembly </label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csCable"
                                    [disabled]="isOthersChecked"></textarea>   

                                    <!-- <input type="text" class="form-control" [(ngModel)]="csCable"
                                        [disabled]="isOthersChecked"> -->

                                </div>
                                <div class="col-md-2">
                                    <label>panel </label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csPanel"
                                    [disabled]="isOthersChecked"></textarea>   

                                    <!-- <input type="text" class="form-control" [(ngModel)]="csPanel"
                                        [disabled]="isOthersChecked"> -->

                                </div>
                                <div class="col-md-2">
                                    <label>welding receptable </label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csWelding"
                                    [disabled]="isOthersChecked"></textarea>   

                                    <!-- <input type="text" class="form-control" [(ngModel)]="csWelding"
                                        [disabled]="isOthersChecked"> -->

                                </div>
                                <div class="col-md-2">
                                    <label>HSA BOX</label>
                                    <textarea type="text" class="form-control" [(ngModel)]="csHsaBox"
                                    [disabled]="isOthersChecked"></textarea>   

                                    <!-- <input type="text" class="form-control" [(ngModel)]="csHsaBox"
                                        [disabled]="isOthersChecked"> -->
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" [(ngModel)]="isOthersChecked" class="me-1"
                                        (change)="onCheckboxChange($event)">
                                    <label> others <span [hidden]="isOthersDisabled"
                                            style="color: red;">*</span></label>
                                     <textarea type="text" class="form-control" [(ngModel)]="csOthers"
                                     [disabled]="isOthersDisabled" [required]="isOthersChecked" ></textarea>   

                                    <!-- <input type="text" class="form-control" [(ngModel)]="csOthers"
                                        [disabled]="isOthersDisabled" [required]="isOthersChecked"> -->
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>BASIC PO value</label>
                            <ng-container>
                                <input *ngIf="!isEdit; else editBasicPOInput" type="text" class="form-control"
                                    [(ngModel)]="basicPoValue" (blur)="decimalBasicPO()"
                                    (keypress)="validateInput($event)">
                            </ng-container>
                            <ng-template #editBasicPOInput>
                                <input type="text" class="form-control" [(ngModel)]="basicPoValue"
                                    (keypress)="validateInput($event)">
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <label>total PO value(incl. GST)</label>
                            <ng-container>
                                <input *ngIf="!isEdit; else editTotalPOInput" type="text" class="form-control"
                                    [(ngModel)]="totalPoValue" (blur)="decimalTotalPO()"
                                    (keypress)="validateInput($event)">
                            </ng-container>
                            <ng-template #editTotalPOInput>
                                <input type="text" class="form-control" [(ngModel)]="totalPoValue"
                                    (keypress)="validateInput($event)">
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form_select_div">
                            <label>scheduled date of completion</label>
                            <input type="date" class="form-control" [(ngModel)]="completionDate">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <label>actual date of completion</label>
                            <input type="date" class="form-control" [(ngModel)]="actualCompletionDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label for="formFile1">PO upload</label>
                            <input type="file" class="form-control" [(ngModel)]="poUpload" id="formFile1"
                                (change)="uploadFile('poPhoto')">

                        </div>
                    </div>                   
                    <div class="col-md-6">
                        <div class="">
                            <label for="formFile3">credential upload</label>
                            <input type="file" class="form-control" [(ngModel)]="credentialUpload" id="formFile3"
                                (change)="uploadFile('credentialPhoto')">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="">
                            <label for="formFile2">completion upload</label>
                            <div class="d-flex ">
                                <input type="file" class="form-control" [(ngModel)]="completionUpload" id="formFile2"
                                    (change)="uploadFile('completionPhoto')">
                                <button mat-flat-button class="btn1" style="margin-left: 20px;">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                    new
                                </button>
                            </div>    
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <ng-container>
                <button mat-flat-button class="btn1" *ngIf="!this.isEdit; else editButton"
                    (click)="createOrder()">submit</button>
            </ng-container>
            <ng-template #editButton>
                <button mat-flat-button class="btn1" (click)="editOrder()">edit</button>
            </ng-template>
        </div>

    </div>




    <div class="row align-items-end">
        <div class="col-md-3">
            <strong style="text-transform: capitalize;">filter by</strong>
            <div class="form_select_div mt-3">
                <select class="form-control" [(ngModel)]="filterByKeyword" (change)="getFilterOrdersByCategory()">
                    <option value="" disabled>-- choose category --</option>
                    <option value="customer">customer</option>
                    <option value="po_number">PO number</option>
                    <option value="po_date">PO date</option>
                    <option value="po_type">PO type</option>
                    <option value="basic_po_value">basic PO value</option>
                    <option value="total_po_value">total PO value</option>
                    <option value="scheduled_completion_date">schedule date of completion</option>
                </select>
                <span class="material-symbols-outlined">
                    stat_minus_1
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <strong style="text-transform: capitalize;">select one</strong>
            <div class="form_select_div mt-3">
                <select class="form-control" [(ngModel)]="ordersByFilter" (change)="getOrdersByFilter()">
                    <option value="" disabled>-- choose one --</option>
                    <option *ngFor="let item of filteredOrderListByCategory" [value]="item.name">{{item.name}}</option>
                </select>
                <span class="material-symbols-outlined">
                    stat_minus_1
                </span>
            </div>
        </div>
        <div class="col-md-5 ">
            <h3 class="text-end" style="font-size: 20px;">total : {{ totalOrderCount }}</h3>
        </div>
    </div>
    <div class="customer_table ">
        <!-- <div class="listing_div"> -->
            <table class="listing_table ">
                <tr class="table_head sticky-top">
                    <th>sl no.</th>
                    <th>enquiry no.</th>
                    <th>customer</th>
                    <th>PO number</th>
                    <th>PO date</th>
                    <th>PO type</th>
                    <!-- <th>PO sub-type</th> -->
                    <th>basic PO value</th>
                    <th>total PO value <small>(incl. GST)</small></th>
                    <th>schedule date of completion</th>
                    <th>actual date of completion</th>
                    <th>view</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>

                <tr *ngFor="let item of orderList; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.enquiry_id ? 'E000' + item.enquiry_id + '/24-25' : 'Direct Order'}}</td>
                    <!-- <td></td> -->
                    <td>{{ item.customer }}</td>
                    <td>{{ item.po_number }}</td>
                    <td>{{ item.po_date }}</td>
                    <td>{{ item.po_type_name }}</td>
                    <!-- <td>{{ item.po_subtype_name }}</td> -->
                    <td>{{ item.basic_po_value }}</td>
                    <td>{{ item.total_po_value }}</td>
                    <td>{{ item.scheduled_completion_date }}</td>
                    <td>{{ item.actual_completion_date }}</td>
                    <td>
                        <span class="material-symbols-outlined" style="color:#006FFD;"
                            (click)="goToDetailsPage(item.order_id)">
                            visibility
                        </span>
                    </td>
                    <td>
                        <span class="material-symbols-outlined" style="color: #00BF58;"
                            (click)="getOrderById(item.order_id)">
                            edit_square
                        </span>
                    </td>
                    <td>
                        <span class="material-symbols-outlined" style="color: #A8226A;">
                            delete
                        </span>
                    </td>
                </tr>

            </table>
        <!-- </div> -->
    </div>

</div>