<app-header></app-header>
<div class="pb-3">
    <div class="container-fluid">
        <div class="page_heading">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <!-- <div class="page_name" *ngIf="view === 'customer'; else salespersonDetails">
                        <img src="assets/images/customer.png" alt="" loading="lazy" >
                        <h1 class="page_top_heading mb-0">customer details</h1>                        
                    </div>
                    <ng-template #salespersonDetails>
                        <div class="page_name">                            
                            <img src="assets/images/manager.png" alt="" loading="lazy">
                            <h1 class="page_top_heading mb-0">sales person details</h1>
                        </div>
                    </ng-template> -->


                    <div class="page_name" *ngIf="view === 'customer'">
                        <img src="assets/images/customer.png" alt="" loading="lazy" >
                        <h1 class="page_top_heading mb-0">customer details</h1>                        
                    </div>
                    <div class="page_name" *ngIf="view === 'salesperson'">                            
                        <img src="assets/images/manager.png" alt="" loading="lazy">
                        <h1 class="page_top_heading mb-0">sales person details</h1>
                    </div>
                    <div class="page_name" *ngIf="view === 'enquiry'">
                        <img src="assets/images/enquiry.png" alt="" loading="lazy" >
                        <h1 class="page_top_heading mb-0">enquiry details</h1>                        
                    </div>
                    <div class="page_name" *ngIf="view === 'orders'">                            
                        <img src="assets/images/received.png" alt="" loading="lazy">
                        <h1 class="page_top_heading mb-0">order details</h1>
                    </div>
                    <div class="page_name" *ngIf="view === 'addcompany'">                            
                        <img src="assets/images/enterprise.png" alt="" loading="lazy">
                        <h1 class="page_top_heading mb-0">company details</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="details_div">
            <div class="mb-4">
                <h4 class="details_heading"  *ngIf="view === 'customer'">
                    customer info
                </h4>
                <h4 class="details_heading"  *ngIf="view === 'salesperson'">
                    sales person profile info
                </h4>
                <h4 class="details_heading"  *ngIf="view === 'enquiry'">
                   enquiry info
                </h4>
                <h4 class="details_heading"  *ngIf="view === 'orders'">
                    order info
                 </h4>
                 <h4 class="details_heading"  *ngIf="view === 'addcompany'">
                    company info
                 </h4>

                <div class="row g-2" >
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>date :</label>
                            <p class="details_content">{{customer_creation_date}}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'salesperson'">
                        <div class="details_content_div">
                            <label>function :</label>
                            <p class="details_content">{{functionName}}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'salesperson' || view === 'orders' || view === 'customer' || view === 'enquiry'">
                        <div class="details_content_div">
                            <label *ngIf="view === 'customer' || view === 'enquiry'">sales incharge :</label>
                            <label *ngIf="view === 'salesperson' || view === 'orders'">name :</label>
                            <p class="details_content" >{{salesIncharge}}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'enquiry' || view === 'orders'">
                        <div class="details_content_div">
                            <label>SI offer Ref. No. :</label>
                            <p class="details_content">{{reffNumber}}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer' || view === 'orders'">
                        <div class="details_content_div">
                            <label>customer :</label>
                            <p class="details_content">{{ customer_Name }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>PO number :</label>
                            <p class="details_content">{{ poNumber }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>PO date :</label>
                            <p class="details_content">{{ poDate }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>PO type :</label>
                            <p class="details_content">{{ poType }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Product :</label>
                            <p class="details_content">{{ supplyProduct }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Description(Supply) :</label>
                            <p class="details_content">{{ supplyDescription }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Brand :</label>
                            <p class="details_content">{{ supplyBrand }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Description(SITC) :</label>
                            <p class="details_content">{{ sitcDescription }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Cable assembly :</label>
                            <p class="details_content">{{ csCable }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Panel :</label>
                            <p class="details_content">{{ csPanel }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Welding receptable :</label>
                            <p class="details_content">{{ csWelding }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Clamps :</label>
                            <p class="details_content">{{ csClamps }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>HSA box :</label>
                            <p class="details_content">{{ csHsaBox }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>Others :</label>
                            <p class="details_content">{{ csOthers }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label> BASIC PO value :</label>
                            <p class="details_content">{{ basicPoValue }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label>total PO value(incl. GST) :</label>
                            <p class="details_content">{{ totalPoValue }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label> scheduled date of completion :</label>
                            <p class="details_content">{{ completionDate }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'orders'">
                        <div class="details_content_div">
                            <label> actual date of completion :</label>
                            <p class="details_content">{{ actualCompletionDate }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>date :</label>
                            <p class="details_content">{{enquiryDate}}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>source of enquiry :</label>
                            <p class="details_content">{{ enquirySource }}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>principal house :</label>
                            <p class="details_content">{{ principalHouse }}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>date of offer :</label>
                            <p class="details_content">{{ offerDate }}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>basic value :</label>
                            <p class="details_content">{{ basicValue }}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>Tentative Date of Finalisation :</label>
                            <div *ngIf="monthFinal || yearFinal" class="d-flex align-items-center">
                                <p class="details_content me-2" style="padding: 4px 10px; background: #ffffff2d;border-radius:3px">{{ monthFinal }}</p>
                                <p style="font-size: 24px; font-weight: 500;margin-right: 8px;"> / </p>
                                <p class="details_content" style="padding: 4px 10px; background: #ffffff2d;border-radius:3px"> {{ yearFinal }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>status :</label>
                            <p class="details_content">{{ enquiryStatus }}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>remarks :</label>
                            <p class="details_content">{{ enquiryRemarks }}</p>
                        </div>
                    </div>
                    <div class="col-md-3"  *ngIf="view === 'enquiry'">
                        <div class="details_content_div">
                            <label>support required :</label>
                            <p class="details_content">{{ enquirySupport }}</p>
                        </div>
                    </div>

                    <div class="col-md-3"  *ngIf="view === 'customer' || view === 'salesperson'">
                        <div class="details_content_div">
                            <label>SBU :</label>
                            <p class="details_content">{{ sbuName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>segment :</label>
                            <p class="details_content">{{ segmentName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>sub-segment :</label>
                            <p class="details_content">{{ subSegmentName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>name :</label>
                            <p class="details_content">{{ contactPersonName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer' || view === 'salesperson'">
                        <div class="details_content_div">
                            <label>designation :</label>
                            <p class="details_content">{{ designationName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>department :</label>
                            <p class="details_content">{{ departmentName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'salesperson'">
                        <div class="details_content_div">
                            <label>DOB :</label>
                            <p class="details_content">{{ DOB }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer' || view === 'salesperson'">
                        <div class="details_content_div">
                            <label>mobile no. :</label>
                            <p class="details_content">{{ mobileNumber }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer' || view === 'salesperson'">
                        <div class="details_content_div">
                            <label>email id :</label>
                            <p class="details_content text-lowercase">{{ emailAdderss }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>alternative mobile no. :</label>
                            <p class="details_content">{{ altMobileNumber }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'customer'">
                        <div class="details_content_div">
                            <label>alternative email id :</label>
                            <p class="details_content text-lowercase">{{ altEmailAddress }}</p>
                        </div>
                    </div>


                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>company Name :</label>
                            <p class="details_content ">{{ companyName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>contact person :</label>
                            <p class="details_content ">{{ contactPerson }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>contact number :</label>
                            <p class="details_content ">{{ mobNo }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>email id :</label>
                            <p class="details_content text-lowercase">{{ emailId }}</p>
                        </div>
                    </div> <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>address :</label>
                            <p class="details_content ">{{ addreSS }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>city :</label>
                            <p class="details_content ">{{ cityName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>state :</label>
                            <p class="details_content ">{{ stateName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="view === 'addCompany'">
                        <div class="details_content_div">
                            <label>PIN :</label>
                            <p class="details_content ">{{ pinNo }}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="mb-4" *ngIf="view === 'customer'">
                <h4 class="details_heading">
                    address info
                </h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>street no :</label>
                            <p class="details_content">{{ streetNumber }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>street name :</label>
                            <p class="details_content">{{ streetName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>area :</label>
                            <p class="details_content">{{ areaName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>location :</label>
                            <p class="details_content">{{ locationName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>district :</label>
                            <p class="details_content">{{ districtName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>city :</label>
                            <p class="details_content">{{ cityName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>state :</label>
                            <p class="details_content">{{ stateName }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details_content_div">
                            <label>PIN :</label>
                            <p class="details_content">{{ pinNumber }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4" *ngIf="view === 'customer'">
                <h4 class="details_heading">
                    product category info
                </h4>
                <div class="details_content_div d-flex align-items-start">
                    <label class="mb-0">product category :</label>
                    <ul>
                        <li class="details_content" *ngFor="let item of productCategory">
                            <span *ngIf="item.product_category_name == 'others'">{{ item.product_category_name }} ({{otherProductCategory}})</span>
                            <span *ngIf="item.product_category_name != 'others'">{{ item.product_category_name }}</span>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>


        <div class="mb-4">
            <button class="btn1"  *ngIf="view === 'customer'" style="display: flex;align-items: center;" routerLink="/customer">
                <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                back
            </button>
            <button class="btn1"  *ngIf="view === 'salesperson'" style="display: flex;align-items: center;" routerLink="/sales-person">
                <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                back
            </button>
            <button class="btn1"  *ngIf="view === 'enquiry'" style="display: flex;align-items: center;" routerLink="/enquiries">
                <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                back
            </button>
            <button class="btn1"  *ngIf="view === 'orders'" style="display: flex;align-items: center;" routerLink="/orders">
                <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                back
            </button>
            <button class="btn1"  *ngIf="view === 'addCompany'" style="display: flex;align-items: center;" routerLink="/addCompany">
                <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                back
            </button>
        </div>
    </div>
</div>