<app-header></app-header>
<div class="container-fluid">
    <div class="page_heading">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="page_name">
                    <img src="assets/images/reports.png" alt="" loading="lazy">
                    <h1 class="page_top_heading mb-0">report generate</h1>
                </div>
            </div>
        </div>
    </div>

    <!--------- customer wise enquiry report start -------------->
    <div *ngIf="reportNavigationType == 'enquiry'" class="main_body mt-4">
        <div class="text-end">
            <p>Run Date : {{formattedDate}}</p>
        </div>
        <div class="info_div mb-4">
            <h2 style="padding-bottom: 4px;border-bottom: 1px dotted #006efdb7;">customer wise enquiry report</h2>
            <!-- <h2 style="padding-bottom: 4px;border-bottom: 1px dotted #006efdb7;">customer wise order report</h2> -->

            <div class="my_form ">
                <div class="row g-2 align-items-center ">
                    <div class="col-md-5">
                        <div class="">
                            <label>choose customer</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="customerId">
                                    <option value="" disabled>--choose customer--</option>
                                    <option value=0>all</option>
                                    <option *ngFor="let item of customerList" [value]="item.customer_id">{{
                                        item.customer }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>From Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [(ngModel)]="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>To Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [max]="maxDate" [(ngModel)]="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button mat-flat-button class="btn1" (click)="showEnquiryReport('show')">show report</button>
                    </div>

                </div>
                <!-- <div class="text-center">
                    <button mat-flat-button class="btn1">generate report</button>
                </div> -->
            </div>


            <p *ngIf="customerId && startDate && endDate"
                style="font-weight: 600;font-size: 16px;margin: 25px 0 16px;text-align: center;">
                Customer wise Enquiry Report for the period {{ startDate | date: 'dd'}}/{{ startDate | date: 'MM'}}/{{
                startDate | date: 'yyyy'}} to {{ endDate | date: 'dd'}}/{{ endDate | date: 'MM'}}/{{ endDate | date:
                'yyyy'}}</p>

            <div class="table-responsive mt-2">
                <table class="table table-success table-striped table-bordered">
                    <thead style="text-transform: capitalize;">
                        <tr>
                            <th scope="col">sl no</th>
                            <th scope="col">Enquiry Date</th>
                            <th scope="col">Source</th>
                            <th scope="col">sub-type</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Principal House</th>
                            <th scope="col">Offer Date</th>
                            <th scope="col">Basic Value</th>
                            <th scope="col">Date of Finalization </th>
                            <th scope="col">Follow Up Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isNoRecord">
                            <td colspan="12" class="text-center">No records found</td>
                        </tr>
                        <tr *ngFor="let item of reportList; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.enquiry_date }}</td>
                            <td>{{ item.enquiry_source }}</td>
                            <td>{{ item.enquiry_sub_type_name }}</td>
                            <td>{{ item.customer }}</td>
                            <td>{{ item.principal_house }}</td>
                            <td>{{ item.offer_date }}</td>
                            <td>{{ item.basic_value }}</td>
                            <td>{{ item.tentative_finalization_month && item.tentative_finalization_year ?
                                item.tentative_finalization_month + '/' + item.tentative_finalization_year : '' }}
                            </td>
                            <td>{{ item.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 text-start">
                <button class="btn1" style="display: flex;" routerLink="/reports">
                    <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                    back
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn1" style="cursor: pointer;" (click)="exportEnquiryReport('export')">
                    <i class="fas fa-table"></i> <span style="margin-left: 6px;">export to excel</span>
                </button>
            </div>
            <!-- <div class="col-md-4 text-end">
                <nav class="" aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item active">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->



        </div>
    </div>



    <!-- --------------- customer wise order report start ----------- -->
    <div *ngIf="reportNavigationType == 'order'" class="main_body mt-4">
        <div class="text-end">
            <p>Run Date : {{formattedDate}}</p>
        </div>
        <div class="info_div mb-4">
            <h2 style="padding-bottom: 4px;border-bottom: 1px dotted #006efdb7;">customer wise order report</h2>

            <div class="my_form ">
                <div class="row g-2 align-items-center ">
                    <div class="col-md-5">
                        <div class="">
                            <label>choose customer</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="customerId">
                                    <option value="" disabled>--choose customer--</option>
                                    <option value=0>all</option>
                                    <option *ngFor="let item of customerList" [value]="item.customer_id">{{
                                        item.customer }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>From Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [(ngModel)]="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>To Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [max]="maxDate" [(ngModel)]="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button mat-flat-button class="btn1" (click)="showOrderReport('show')">show report</button>
                    </div>
                </div>
            </div>

            <p *ngIf="customerId && startDate && endDate"
                style="font-weight: 600;font-size: 16px;text-transform: capitalize;margin: 25px 0 16px;text-align: center;">
                customer wise Order Report for the period {{ startDate | date: 'dd'}}/{{ startDate | date: 'MM'}}/{{
                startDate | date: 'yyyy'}} to {{ endDate | date: 'dd'}}/{{ endDate | date: 'MM'}}/{{ endDate | date:
                'yyyy'}}</p>
            <div class="table-responsive mt-2">
                <table class="table table-success table-striped table-bordered">
                    <thead style="text-transform: capitalize;">
                        <tr>
                            <th scope="col">sl no</th>
                            <th scope="col">Customer</th>
                            <th scope="col">PO Date</th>
                            <th scope="col">PO number</th>
                            <th scope="col">PO type</th>
                            <th scope="col">PO Sub type</th>
                            <th scope="col">Basic PO Value</th>
                            <th scope="col">total PO value(GST)</th>
                            <th scope="col">Schedule Date of Completion </th>
                            <th scope="col">Actual Date of Completion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isNoRecord">
                            <td colspan="12" class="text-center">No records found</td>
                        </tr>
                        <tr *ngFor="let item of reportList; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.customer }}</td>
                            <td>{{ item.po_date }}</td>
                            <td>{{ item.po_number }}</td>
                            <td>{{ item.po_type_name }}</td>
                            <td>{{ item.po_subtype_name }}</td>
                            <td>{{ item.basic_po_value }}</td>
                            <td>{{ item.total_po_value }}</td>
                            <td>{{ item.scheduled_completion_date }}</td>
                            <td>{{ item.actual_completion_date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 text-start">
                <button class="btn1" style="display: flex;" routerLink="/reports">
                    <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                    back
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn1" style="cursor: pointer;" (click)="exportOrderReport('export')">
                    <i class="fas fa-table"></i> <span style="margin-left: 6px;">export to excel</span>
                </button>
            </div>
            <!-- <div class="col-md-4 text-end">
                <nav class="" aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item active">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->



        </div>
    </div>




    <!-- --------------- sales person wise enquiry report start ----------- -->
    <div *ngIf="reportNavigationType == 'sales_enquiry'" class="main_body mt-4">
        <div class="text-end">
            <p>Run Date : {{formattedDate}}</p>
        </div>
        <div class="info_div mb-4">
            <h2 style="padding-bottom: 4px;border-bottom: 1px dotted #006efdb7;">sales person wise enquiry report</h2>

            <div class="my_form ">
                <div class="row g-2 align-items-center ">
                    <div class="col-md-5">
                        <div class="">
                            <label>sales incharge</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="salesPersonId">
                                    <option value="" disabled>--choose sales incharge--</option>
                                    <option value=0>all</option>
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>From Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [(ngModel)]="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>To Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [max]="maxDate" [(ngModel)]="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button mat-flat-button class="btn1" (click)="showSalesEnquiryReport('show')">show report</button>
                    </div>
                </div>
            </div>

            <p *ngIf="salesPersonId && startDate && endDate"
                style="font-weight: 600;font-size: 16px;text-transform: capitalize;margin: 25px 0 16px;text-align: center;">
                sales person wise enquiry Report for the period {{ startDate | date: 'dd'}}/{{ startDate | date: 'MM'}}/{{
                startDate | date: 'yyyy'}} to {{ endDate | date: 'dd'}}/{{ endDate | date: 'MM'}}/{{ endDate | date:
                'yyyy'}}</p>
            <div class="table-responsive mt-2">
                <table class="table table-success table-striped table-bordered">
                    <thead style="text-transform: capitalize;">
                        <tr>
                            <th scope="col">sl no</th>
                            <th scope="col">sales person</th>
                            <th scope="col">Enquiry Date</th>
                            <th scope="col">Source</th>
                            <th scope="col">sub-type</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Principal House</th>
                            <th scope="col">Offer Date</th>
                            <th scope="col">Basic Value</th>
                            <th scope="col">Date of Finalization </th>
                            <th scope="col">Follow Up Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isNoRecord">
                            <td colspan="12" class="text-center">No records found</td>
                        </tr>
                        <tr *ngFor="let item of reportList; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.sales_person_name }}</td>
                            <td>{{ item.enquiry_date }}</td>
                            <td>{{ item.enquiry_source }}</td>
                            <td>{{ item.enquiry_sub_type_name }}</td>
                            <td>{{ item.customer }}</td>
                            <td>{{ item.principal_house }}</td>
                            <td>{{ item.offer_date }}</td>
                            <td>{{ item.basic_value }}</td>
                            <td>{{ item.tentative_finalization_month && item.tentative_finalization_year ?
                                item.tentative_finalization_month + '/' + item.tentative_finalization_year : '' }}
                            </td>
                            <td>{{ item.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 text-start">
                <button class="btn1" style="display: flex;" routerLink="/reports">
                    <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                    back
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn1" style="cursor: pointer;" (click)="exportSalesEnquiryReport('export')">
                    <i class="fas fa-table"></i> <span style="margin-left: 6px;">export to excel</span>
                </button>
            </div>
            <!-- <div class="col-md-4 text-end">
                <nav class="" aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item active">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->



        </div>
    </div>



    <!-- --------------- sales person wise order report start ----------- -->
    <div *ngIf="reportNavigationType == 'sales_order'" class="main_body mt-4">
        <div class="text-end">
            <p>Run Date : {{formattedDate}}</p>
        </div>
        <div class="info_div mb-4">
            <h2 style="padding-bottom: 4px;border-bottom: 1px dotted #006efdb7;">sales person wise order report</h2>

            <div class="my_form ">
                <div class="row g-2 align-items-center ">
                    <div class="col-md-5">
                        <div class="">
                            <label>sales incharge</label>
                            <div class="form_select_div">
                                <select class="form-control" [(ngModel)]="salesPersonId">
                                    <option value="" disabled>--choose sales incharge--</option>
                                    <option value=0>all</option>
                                    <option *ngFor="let item of salesPersonList" [value]="item.sales_person_id">{{
                                        item.sales_person_name }}</option>
                                </select>
                                <span class="material-symbols-outlined">
                                    stat_minus_1
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>From Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [(ngModel)]="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2">
                        <div class="">
                            <label>To Date</label>
                            <div class="form_select_div">
                                <input type="date" class="form-control" [max]="maxDate" [(ngModel)]="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button mat-flat-button class="btn1" (click)="showSalesOrderReport('show')">show report</button>
                    </div>
                </div>
            </div>

            <p *ngIf="salesPersonId && startDate && endDate"
                style="font-weight: 600;font-size: 16px;text-transform: capitalize;margin: 25px 0 16px;text-align: center;">
                sales person wise Order Report for the period {{ startDate | date: 'dd'}}/{{ startDate | date: 'MM'}}/{{
                startDate | date: 'yyyy'}} to {{ endDate | date: 'dd'}}/{{ endDate | date: 'MM'}}/{{ endDate | date:
                'yyyy'}}</p>
            <div class="table-responsive mt-2">
                <table class="table table-success table-striped table-bordered">
                    <thead style="text-transform: capitalize;">
                        <tr>
                            <th scope="col">sl no</th>
                            <th scope="col">sales person</th>
                            <th scope="col">Customer</th>
                            <th scope="col">PO Date</th>
                            <th scope="col">PO number</th>
                            <th scope="col">PO type</th>
                            <th scope="col">PO Sub type</th>
                            <th scope="col">Basic PO Value</th>
                            <th scope="col">total PO value(GST)</th>
                            <th scope="col">Schedule Date of Completion </th>
                            <th scope="col">Actual Date of Completion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isNoRecord">
                            <td colspan="12" class="text-center">No records found</td>
                        </tr>
                        <tr *ngFor="let item of reportList; let i = index">
                            <td>{{ i+1 }}</td>             
                            <td>{{ item.sales_person_name }}</td>
                            <td>{{ item.customer }}</td>
                            <td>{{ item.po_date }}</td>
                            <td>{{ item.po_number }}</td>
                            <td>{{ item.po_type_name }}</td>
                            <td>{{ item.po_subtype_name }}</td>
                            <td>{{ item.basic_po_value }}</td>
                            <td>{{ item.total_po_value }}</td>
                            <td>{{ item.scheduled_completion_date }}</td>
                            <td>{{ item.actual_completion_date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 text-start">
                <button class="btn1" style="display: flex;" routerLink="/reports">
                    <span class="material-symbols-outlined" style="font-size: 20px;">arrow_back_ios</span>
                    back
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn1" style="cursor: pointer;" (click)="exportSalesOrderReport('export')">
                    <i class="fas fa-table"></i> <span style="margin-left: 6px;">export to excel</span>
                </button>
            </div>
            <!-- <div class="col-md-4 text-end">
                <nav class="" aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item active">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->



        </div>
    </div>
</div>